{{ 'style.affiliate-financing.css' | asset_url | stylesheet_tag }}
<div class="section-financing" id="financing">
    <div class="container">
        <h3 class="section-financing__title">FINANCING INFORMATION</h3>
        <p class="section-financing__text">Again Faster offers instant credit applications through PayPal Credit and custom financing options for large
            orders and new gym builds.</p>
        <button class="section-financing__cta"><span>Learn More</span></button>
    </div>
</div>