
{{ 'style.affiliate-nav.css' | asset_url | stylesheet_tag }}

<div class="section-nav">
    <ul class="nav">
        <li class="nav-item"><a href="#packages" class="nav-link">Affiliate packages</a></li>
        <li class="nav-item"><a href="#why-we" class="nav-link">Whay again faster?</a></li>
        <li class="nav-item"><a href="#financing" class="nav-link">Financing</a></li>
        <li class="nav-item"><a href="#consult" class="nav-link">request a consult</a></li>
    </ul>
</div>