{{ 'style.main-login.css' | asset_url | stylesheet_tag }}

<div class="main-login">
  <div class="container">
    <div class="form-reset form">
      <div class="form__header">
        <h4 class="heading-text heading-4 heading-4--regular">Reset Password</h4>
      </div>
      {% form 'reset_customer_password' %}
        {{ form.errors | default_errors }}
        <div class="input-group">
          <input type="password" value="" name="customer[password]" placeholder="New Password" size="16">
          <label for="password">New Password</label>
        </div>
        <div class="input-group">
          <input
            type="password"
            value=""
            name="customer[password_confirmation]"
            size="16"
            placeholder="Password Confirmation"
          >
          <label for="password_confirmation">Password Confirmation</label>
        </div>

        <div class="submit">
          <input class="btn btn-primary" type="submit" value="Reset Password">
        </div>
      {% endform %}
    </div>
  </div>
</div>
