.collection-hero {
  display: grid;
  grid-template-columns: 40% 45%;
  gap: 0 12%;
  justify-content: center;
  padding: 5rem 4rem 4rem 4rem;
  /* height: calc(100vh - 12rem); */
}
.collection-hero__content {
  grid-column: 1/2;
  align-self: center;
}
.collection-hero__content h2 {
  margin-bottom: 4rem;
  margin-top: 1.6rem;
}
.collection-hero__banner {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.collection-hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collection-hero__image--1 {
  grid-column: 1 / span 3;
  grid-row: 1/4;
}
.collection-hero__image--2 {
  grid-column: 3/5;
  grid-row: 3/5;
}
.collection-hero__content h5::before {
  content: "/";
  margin-right: 5px;
  font-size: 1.5rem;
  font-weight: 300;
}
.collection-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  justify-content: center;
  column-gap: 1.6rem;
  row-gap: 4rem;
  padding: 8rem 4rem;
}

.collection-list__item img {
  transition: all .3s;

}
.collection-list__item:hover img {
 transform: scale(1.03);
}

.collection-list__item .heading-5 {
  text-align: center;
}
.collection-list__item .heading-5 a {
  color: currentColor;
  text-decoration: none !important;
  font-family: inherit;
  font-size: 1.2rem;
  line-height: inherit;
}
