.homepage-hero {
  width: 100%;
  height: calc(100vh - 3.7rem);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: flex-end;
  transform: translateY(-4rem);
  padding-bottom: 4rem;

}
.homepage-hero__content {
  width: 100%;
  padding-left: 4rem;
}
.homepage-hero__content .container h1 {
  width: 40%;
}
.homepage-hero__text {
  color: var(--color-primary-2);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 167.5%;
  width: 38%;
  margin-bottom: 4rem;
}
