.homepage-featured-products{
    padding: 9.7rem 4rem;
}
.homepage-featured-products__list{
    
}
.homepage-featured-products__list .swiper-slide{
    /* width: 25%; */
    cursor: pointer;
}
.homepage-featured-products__list-card{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.homepage-featured-products__list-card svg{
    transition: all .2s ;
    margin-left: 1rem;
    display: none;
}
.homepage-featured-products__list .swiper-slide:hover .homepage-featured-products__list-card svg{
    display: block;
}