.header{
   position: absolute;
   top: 5rem;
   width: 100%;
   z-index: 10;
}
.navigation .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);  
    align-items: center;
    padding: 0 4rem;
}
.navigation__logo{
    display: block;
}
.navigation__list{
    display: flex;
    list-style: none;
}
.navigation__item:not(:first-of-type){
    margin-left: 3rem;
}
.navigation__link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .175em;
    color:var(--color-primary-1);
}
.home .navigation__link{
    color:var(--color-primary-2);
}
.navigation__user{
    justify-self: flex-end;
}
.navigation__user>*:not(:first-child){
    margin-left: 1.7rem;
}
.home .navigation__user svg path{
    stroke: var(--color-primary-2);
}

.navigation__user svg path{
    stroke: var(--color-primary-1);
}

.side-cart__icon{
    display: inline-block;
    position: relative;
    cursor: pointer;

}
.cart-item{
    position: absolute;
    top: -7px;
    right: -14px;
    background-color: var(--color-primary-1);
    border-radius: 50%;
    color: var(--color-primary-2);
    font-size: 10px;
    font-weight: 400;
    padding: 8px;
    width: 1.8rem;
    height: 1.8rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
}
.icon-account{
    text-decoration: none;
    
}