.main-product {
}
.main-product__wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 50% 35%;
  margin-top: 5rem;
  column-gap: 10rem;
  position: relative;
}
.product-gallery {
  grid-column: 1/2;
  height: 100%;
  width: 100%;
}
.main-product__wrapper .swiper-pagination {
  position: absolute;
  right: 48%;
  top: 50%;
}
.main-product__wrapper .swiper-pagination-bullet-active {
  background-color: var(--color-primary-1);
}
.product-details {
  grid-column: 2/3;
  justify-self: center;
  margin-top: 4rem;
}
.product-details__description {
  line-height: 167.5%;
  margin-top: 2.4rem;
}

.main-product .swiper .swiper-slide img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}


.product-details__variants-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 22.4rem;
  overflow-y: scroll;
  margin-top: 1.6rem;
}
/* width */
.product-details__variants-list::-webkit-scrollbar {
  width: 4px;
  margin-left: 1.6rem;
}

/* Track */
.product-details__variants-list::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
.product-details__variants-list::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 10rem;
}

/* Handle on hover */
.product-details__variants-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.product-details__variants-item {
  cursor: pointer;
  width: 32%;
  padding: 1.6rem 3rem;
  border: 1px solid var(--color-secondary-2);
  color: var(--color-primary-1);
  text-align: center;
}
.product-details__variants-item.disabled {
  text-decoration: line-through;
  color: var(--color-secondary-3);
  cursor: not-allowed;
  pointer-events: none;
}
.product-details__variants-item.active {
  border: 1px solid var(--color-primary-1);
}
.product-details__variants-list input {
  display: none;
}
.product-details__variants-list input:checked + .product-details__variants-item {
  border: 1px solid var(--color-primary-1);
}

.product-details__review {
  display: flex;
  margin-top: 8px;
  gap: 8px;
  align-items: center;
}
.product-details__services {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
  color: #979797;
  margin: 1.6rem 0 2.4rem 0;
}
.product-details__add-cart {
  margin-bottom: 2.4rem;
}
.product-details__frequent {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-secondary-3);
  flex-wrap: wrap;
  padding-top: 1.6rem;
}
.product-details__frequent-title {
  font-weight: 600;
  font-size: 1.6rem;
  width: 100%;
  line-height: 167.5%;
  margin-bottom: 2.5rem;
}
.product-details__product {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}
.product-details__price {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
}

.product__details--text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 167.5%;
  text-transform: capitalize;
}
.product__details--link {
  color: var(--color-primary-1);
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 167.5%;
  border: none;
  outline: none;
  background: var(--color-primary-2);
  text-decoration: underline;
}

.products-list__header--2 {
  display: block !important;
  text-align: left !important;
}
.products-list__header--2 h4 {
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 130%;
  letter-spacing: 0.08em;
}
